body {
    background-color: #bbb;
}


.zona-juego {
    display:flex;
    justify-content: center;
    margin: 5px 0 0 0;
}

ul {
    display: flex;
    justify-content: space-between;
}

.icono {    
    position: relative;
    right: 42.5%;
}
.icono-img {
    width: 200px;
    padding: 5px 0;
}

canvas {
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, blue, red , yellow , green ) 1;
}